@model IEnumerable<Chartwell.Foundation.Models.CarouselModel>

@foreach (var item in Model)
{
  <div style="background-image:url(@item.ImageLink);">
    <span class="descriptionNewRes">
      <h3>
        <a href="@item.Link" target="_blank">
           @item.Heading 
          <span class="glyphicon glyphicon-link colorGold" aria-hidden="true"></span>
        </a>
      </h3>
      <p>
        <a href="@item.Link" target="_blank">
          <span class="colorGold glyphicon glyphicon-map-marker" aria-hidden="true"></span>@item.Address 
        </a>
        <a href="tel: @item.Telephone ">
          <span class="colorGold glyphicon glyphicon-phone-alt" aria-hidden="true">
          </span> @item.Telephone 
        </a>
      </p>
    </span>
  </div>
}
