@model List<Chartwell.Foundation.Models.RecentlyViewedPagesModel>


@if (Model.Count > 0)
{
  <div class="container-fluid personalizationPastHomes">

      <div class="row">
        <div class="col-sm-12">

          <a data-toggle="collapse" href="#recentlyViewedBasket" aria-expanded="false" aria-controls="recentlyViewedBasket" class="toggler">
            <h3 class="pasthomesToggle">
              @Sitecore.Globalization.Translate.Text("Recently Viewed")
              <span class="fas fa-chevron-down pull-right"></span>
              <span class="fas fa-chevron-up pull-right"></span>
            </h3>
          </a>
        </div>
      </div><!-- / .row -->
      <div class="row d-flex flex-row pl-4 pr-4">

        <div id="recentlyViewedBasket" class="collapse">
          @foreach (var recentViewPage in Model)
          {


            <div class="col-sm-12 col-md-6 col-lg-3 p-sm-2 align-items-stretch d-flex flex-row">
              <div class="card chartwell-card m-0 m-md-1 m-lg-3 mb-3 mb-md-2 mb-lg-3 align-items-stretch wrapPropPersItem">
                <a href="@recentViewPage.RecentlyViewedPageUrl">
                  <img class="card-img-top" src="@Url.Content(recentViewPage.InteractionImage)" />
                </a>
                <div class="card-body pb-0 d-flex flex-column cursor-hand" onclick="self.location.href='@recentViewPage.RecentlyViewedPageUrl'">
                  <h5 class="pb-2 text-center mb-3"><a href="@recentViewPage.RecentlyViewedPageUrl">@recentViewPage.InteractionPropertyName</a></h5>
                </div>
              </div>
            </div>
          }
        </div><!-- / #recentlyViewedBasket -->
      </div><!-- / .row -->
  </div><!-- / .container-fluid .personalizationPastHomes -->
}